body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.body-container {
	background-color: #fafafa;
}

.with-border {
	border: 2px solid #fafafa;
}

/* TODO Bootstrap class fix */
.mr-auto {
	margin-right: auto !important;
}

.ml-auto {
	margin-left: auto !important;
}

.mb-2 {
	margin-bottom: 0.5rem !important;
}

.mr-2 {
	margin-right: 0.5rem !important;
}

.ml-2 {
	margin-left: 0.5rem !important;
}

.ml-5 {
	margin-left: 3rem !important;
}
