.header img {
	height: 20px;
}

.header .top-bar {
	height: 50px;
}

.header .main-bar {
	height: 100px;
}

.header .main-bar img {
	height: 30px;
}

.small-column {
	min-width: 200px;
	width: 200px;
}
